 img{
    width: 100%;
    vertical-align: middle;
    margin-top: -25px;
 }
 li{
    list-style-type: none;
 }
 ul{
    list-style-type: none
 }
 
 .item-panel {
    width: 23%;
    padding-left: 10px;
    min-height: 320px;
    padding: 0;
    background: #fff;
    position: relative;
    transition: all .1s ease;
    z-index: 5;
    box-shadow: 0 1px 5px rgba(0,0,0,.1);
    float: left;
    margin-left: 10px;
    margin-bottom: 35px;
  
}
.author_name{
    color: blue;
    font-weight: 700;
    font-size: 12px;
    padding: 0 0px 0px;
}
h4{
    margin-top: -35px;
    font-size: 15px;
    font-family: helvetica neue,helvetica,verdana,arial,sans-serif!important;
}
.item-info {
  padding: 10px 5px 10px;
   min-height: 100px; 
}
.item-info h4{
    margin-top: 0px;
}

.card.card-cascade.wider .view {
  z-index: 2;
  margin: 0 10px;
  height: 350px;
}

.card.card-cascade.wider {
  background-color: transparent;
  width: 250px;
  height: 350px;
}

.card {

  margin-bottom: 10px;
}

.hyper-link{
    color: rgba(0,0,0,0.54);
    display: block;
    text-align: left!important;
    word-break: break-word;
    word-wrap: break-word;
}


.store{
  color: #006621;
  float: right;  
  margin-right: 15px;
}

.card.card-cascade.wider {
  background-color: transparent;
  width: 250px;
}
.row1{
  margin-top: 5px;  
}
.shopee-item-card__badge-wrapper {
  position: absolute;
  right: 0;
  top: 0;
}
.shopee-item-card__cover-img {
  margin-bottom: .5rem;
  position: relative;
}
.shopee-item-card__lowest-price {
  width: 48px;
  height: 38px;
  position: absolute;
  left: 5px;
  bottom: 5px;
}
.shopee-badge--promotion__label-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  position: relative;
  font-weight: 700;
  line-height: 16px;
  color: #ff5722;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.shopee-badge--promotion__label-wrapper__off-label {
  color: #fff;
  margin: 2px 0;
}
.shopee-item-card__badge-wrapper .shopee-badge {
  float: right;
  margin-left: .5rem;
}

.shopee-badge--promotion {
  background-color: rgba(255,212,36,.9);
}
.shopee-badge--fixed-width {
  width: 38px;
  height: 35px;
}

.currency{
  color: #222;
    font-size: 10px;
    font-weight: bold;
}

.expire {
  color: red;
  font-size: 10px
}

.view-box{   
   font-size: 0.98rem;
  padding: 5px;
  border: 2px solid #2061d8;
  border-radius: 3px;
  color: #3e3333;
}

.promo {
  background: #ccc;
  font-size: 10px;
  padding: 3px;
}

.lightcolor{
  font-style: italic ;
  font-size: 12px;
  color: rgb(128, 135, 139)
}
.strike{
  font-size: 12px;
  text-decoration: line-through;  
  margin: 0 5px;
}
.deal-dsp{
  padding: 5px;
  color: rgb(51, 51, 51);
  font-size: 14px;
}
.dealpriceoff {
  width: 60%;
}
.getdeal {
  width: 60%;
  height: 10px
}
.ftl {
  float: left;
}
.storeInformation{
  display: flex;
  align-items: center;
  width: 75%;
}

.O8U6h {
  color: #222;
  font-size: 16px;
  font-weight: bold;
}

.line {
   border-top: 1px solid rgba(0, 0, 0, 0.125); 
}

.btn-getdeal {
  width: 100%;
  background-color: transparent;
  color: #ccc;
  font-size: 16px;
  padding: 6px 0;
  display: block;
  text-align: center;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;  
}
.deal-discount {
  color: #B1B1B1;
  font-size: 12px;
}
.merchantIcon {
  height: 16px;
  margin-right: 8px;
  width: 16px;
}
.left-text
{
  float: left;
}
