
  
        <ul class="product-list">
            <li>  
            <div class="item-panel">
             <div class="item-img"> 
                <img src="./assets/images/quote.jpg" alt=""> </div>
              <div class="item-info">
                  <h4 class="item-quote">{{quoteDetails?.quote}}</h4>
                  <div class="author_name">{{quoteDetails?.author.name}}</div>
                  <hr>
                  <div>
                   
                        <span *ngFor="let quote of quoteDetails?.topics">
                            <span style="color:#337ab7;">{{quote}},</span>
                         
                        </span>
                   
                  </div>
                 
                 
                 <hr> 
          <span class="pd-stars">
              <i class="fa fa-facebook-official" aria-hidden="true" style="font-size:25px;color:blue;width:20px;margin-right: 4px;"></i>
              <i class="fa fa-twitter-square" aria-hidden="true" style="font-size:25px;color:00acf0;width:20px;margin-right: 4px;"></i>
              <i class="fa fa-pinterest-square" aria-hidden="true" style="font-size:25px;color:red;width:20px;margin-right: 4px;"></i>
              <i class="fa fa-heart-o" aria-hidden="true" style="font-size:25px;color:red;width:20px;margin-right: 4px;padding-left: 85px"></i>
              <i class="fa fa-plus-square" aria-hidden="true" style="font-size:25px;color:black;width:20px;padding-left: 26px;"></i>
         </span>  
         
                    <!--<div class="p-icons-row">
                      <span class="likes-label">
                         <span class="like-icon ion-thumbsup"> <span class="p-count">655</span></span>
                       </span>
                       
                     </div>-->
                 </div>
              </div>
            </li>
           </ul> 
 

