.motivep{
    font-size: 20px;
    color: blue;
}
.topicp{
    margin: 8px;
    margin-left: 75px;
    font-size: 12px;
    padding-left:19px;
}
.authorp{
    margin: 8px;
    margin-left: 75px;
    font-size: 12px;
    padding-left:10px;
}
.form-control {
    height: 28px;
    padding: 6px 12px;
    font-size: 10px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-left: 50px;
}