    <!-- {{data | json}} -->
    <hr>
    
    <div class="container">
            <!-- <h1>Motivational Quotes</h1> -->
            <div class="row">
              <div class="col-md-6">
                <p class="motivep">Motivational Quotes.<span>|</span>
            
                </p>
                
              </div>
              <div class="col-md-1">
                <p class="topicp">topics:</p>
              </div>
                <div class="">
                        <div class="col-md-2">
                                <select class="form-control">
                                        <option>Creativity Quotes</option>
                                        <option>Life Quotes</option>
                                        <option>Attitude Quotes</option>
                                      </select>
                          </div>
                </div>
            
              
                <div class="col-md-1">
                    <p class="authorp">Authors:</p>
                </div>
                <div class="">
                        <div class="col-md-2 dropdownalign">
                                <select class="form-control">
                                        <option *ngFor="let item of authorsName">{{item}}</option>
                                </select> 
                        </div>
                </div>
                

            </div>
          </div>
          
        <hr/>
   
   
           
    <div class="product-panel">
        <div class="row">
                <ul class="product-list">
                        <li *ngFor="let item of data">
                                <app-quote-card [quoteDetails]="item"></app-quote-card>
                                <!-- <app-deal-card [deal]="deal"></app-deal-card> -->
                        </li>
                </ul> 
            <!-- <div class="col-lg-3"  > 
                
            </div> -->
        </div>
    </div>
   

    