/* You can add global styles to this file, and also import other style files */


body {
    font-family: Arial;
    background: #f1f1f1;
}
.container{
    /* width: 970px; */
    max-width: 1280px;
}