<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#about">Authors</a>
  <a href="#contact">Topics</a>
  <a href="#contact">Quote Of The Day</a>
  <a href="#contact">Pictures</a>
  <div class="search-container">
    <form action="/action_page.php">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>

<div class="letter-navbar qs-blk" style="letter-spacing: 2px">
  <div class="container letter-container">
  <span class="body bq-tn-letters"> <span id="bq-auth-lbl" class="bq-tn-wrap">Authors:</span>
  <span class="bq-tn-wrap">
  <a href="/authors/a">A</a>
  <a href="/authors/b">B</a>
  <a href="/authors/c">C</a>
  <a href="/authors/d">D</a>
  <a href="/authors/e">E</a>
  <a href="/authors/f">F</a>
  <a href="/authors/g">G</a>
  <a href="/authors/h">H</a>
  <a href="/authors/i">I</a>
  <a href="/authors/j">J</a>
  <a href="/authors/k">K</a>
  <a href="/authors/l">L</a>
  <a href="/authors/m">M</a>
  </span>
  <span class="bq-tn-wrap">
  <a href="/authors/n">N</a>
  <a href="/authors/o">O</a>
  <a href="/authors/p">P</a>
  <a href="/authors/q">Q</a>
  <a href="/authors/r">R</a>
  <a href="/authors/s">S</a>
  <a href="/authors/t">T</a>
  <a href="/authors/u">U</a>
  <a href="/authors/v">V</a>
  <a href="/authors/w">W</a>
  <a href="/authors/x">X</a>
  <a href="/authors/y">Y</a>
  <a href="/authors/z">Z</a>
  </span>
  </span>
 
  </div>
  </div>