    * {box-sizing: border-box;}

    body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    }

    .topnav {
    overflow: hidden;
    background-color: #4663cd;
    }

    .topnav a {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 13px 14px;
        text-decoration: none;
        font-size: 10px;
    }    

    .topnav a:hover {
    background-color: #ddd;
    color: black;
    }

    .topnav a.active {
    background-color: #2196F3;
    color: white;
    }

    .topnav .search-container {
    float: right;
    }

    .topnav input[type=text] {
        padding: 2px;
        margin-top: 6px;
        font-size: 16px;
        border: none;
        margin-right: 2px;
        border-radius: 10px;
    }

    .topnav .search-container button {
        float: right;
        padding: 3px 11px;
        margin-top: 6px;
        margin-right: 342px;
        background: #ddd;
        font-size: 15px;
        border: none;
        cursor: pointer;
        border-radius: 8px;
    }

    .topnav .search-container button:hover {
    background: #ccc;
    }

    @media screen and (max-width: 600px) {
    .topnav .search-container {
        float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .topnav input[type=text] {
        border: 1px solid #ccc;  
    }
    }


    .letter-navbar.qs-blk {
        background-color: #000;
        background-image: linear-gradient(to bottom,#383838,#080808);
        border: 1px solid #000;
        color: #fff;
    }

    .letter-navbar.qs-blk {
        background-color: #000;
        background-image: linear-gradient(to bottom,#383838,#080808);
        border: 1px solid #000;
        color: #fff;
    }

    .letter-navbar {
        padding-top: 5px;
        margin-left: -8px;
        margin-right: -8px;
        background-color: #fafafa;
        background-image: linear-gradient(to bottom,#fff,#f2f2f2);
        background-repeat: repeat-x;
        border: 1px solid #d4d4d4;
        box-shadow: 0 1px 4px rgba(0,0,0,.067);
        min-height: 28px;
    }

    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    .bq-tn-letters {
        font-size: 13px;
        float: left;
        line-height: 1.7;
        margin-right: 10px;
    }
    .header-follow-buttons {
        float: left;
        width: 223px;
    }
    ol, ul {
        margin-top: 0;
        margin-bottom: 10px;
    }
    .letter-vert-sep {
        float: left;
        margin-right: 10px;
        font-weight: 700;
    }
    .header-follow-icons li {
        float: left;
        list-style-type: none;
        width: 21px;
        height: 21px;
        background: #fff;
        margin-right: 8px;
        border-radius: 50px;
        text-align: center;
    }
    .header-facebook-follow {
        padding-left: 2px;
    }